@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	margin: 0;
    padding: 5px 100px;
	font-family: "Light", Roboto, serif;
	background: linear-gradient(-45deg, #00eeee, #3de4e7, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1 {
    background-color: #e3e3e3;
    padding: 20px 20px;
    text-align: center;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #797979;
    text-decoration: none;
}

a.selected {
    color: #797979;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.column {
    float: left;
    width: 50%;
    text-align: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.back {
    background: #e3e3e3;
    padding: 20px 50px;
    border-radius: 10px;
}

.size {
    width:50%;
    height:50%;
}
